@import url('~codemirror/lib/codemirror.css');



:root {
}

.trails-sql {
  display: flex;
  flex-direction: row;
}

.trails-sql .p-SplitPanel {
  flex: 1 1 auto;
}

.trails-sql-overview {
  /*flex: 1 1 auto;*/
  max-height: 200px;
}

.trails-editor {
  /*min-height: 200px;*/
  flex: 1 1 auto;
  /*background-color: #f0f0f0;*/
}
