
span.cm-block {
  color:green;
  font-weight: bold;
  /*font-size: larger;*/
  text-decoration: underline;
}

span.cm-block-table {
  color:green;
  font-weight: bold;
  /*font-size: larger;*/
  text-decoration: underline;
}

span.cm-block-error {
  color: #FE4D4D;
  font-weight: bold;
  /*font-size: larger;*/
  text-decoration: underline;
}
